{% extends "TroiswaBackBundle::layout.html.twig" %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Modifier les infos d'un acteur
            </h1>
        </div>
    </div>


    {{ form(formulaire) }}

{% endblock %}